main{
    height: auto;
    background-image: url('/img/waveshortgreen.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.descriptorHeader, .descriptorPara{
    font-family: 'Source Sans Pro';
    margin: auto;
    font-size: 30px;

}
.tab{
    border-radius: 50px;
    margin: auto;
    margin-right: 10px;
    margin-left: 0;
    display: flex;
    height: 50px;
    width: auto;
    box-shadow: 2px 2px 10px darkgray;
}


/* Container01 Css */
#container01{
    height: 400px;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
}
#infoContainer01{
    height: auto;
    width: auto;
    display: flex;
    margin: auto;
    margin-left: 30px;
    flex-direction: column;
    justify-content: center;
}
#descriptorHeader01{
    font-size: 60px;
    margin: auto;
    margin-bottom: 0;
    background: -webkit-linear-gradient(#40DFEF, #B6FFCE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 5px #B6FFCE;
}

#infoContainer01-image{
    height: 200px;
    width: 200px;
    margin: auto;
    margin-right: 60px;
    display: flex;
}
.infoContainerImage{
    height: 130px;
    width: 130px;
    margin: auto;
}
#descriptorPara01{
    margin: auto;
    margin-top: 0;
    font-size: 20px;
}



/* Conatiner02 CSS */

#container02{
    height: 80px;
    width: 1300px;
    display: flex;
    column-gap: 10px;
    margin: auto;
}

#tab01{width: 100px;}
#tab03, #tab02{width: 320px;}

#tab02{
    background-image: linear-gradient(to bottom right, #40DFEF, #B6FFCE);box-shadow: 0 0 10px #B6FFCE;
}

#descriptorPara03{color: white;}



/* Comtainer3 CSS */

#container03{
    height: auto;width: auto;
    display: flex;
}

form{margin: auto;}

.formContainer{
    height: auto;
    width: auto;
    display: grid;
    grid-template-columns: auto;
    row-gap: 10px;
    column-gap: 10px;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 30px;
}

.inputFields{
    height: 50px;width: auto;
    border-radius: 50px;
    outline: none;
    text-align: center;
    font-size: 20px;
    font-family: 'Source Sans Pro';
    border: none;
    background-image: linear-gradient(to bottom right, #40DFEF, #B6FFCE);box-shadow: 0 0 10px #B6FFCE;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}
.inputButtons{
    height: 50px;
    width: 230px;
    background-color: #035397;
    color: white;
    font-size: 20px;
    font-family: 'Source Sans Pro';
    border-radius: 30px;
}

hr{opacity: 20%;width: 40%;margin: auto;margin-top: 20px;margin-bottom: 20px;}