main{
    height: 1000px;
    display: flex;
    flex-direction: column;
}

.login-form{
    height: auto;
    width: auto;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
.imgHolder{
    height: 300px;
    width: 300px;
    margin: auto;
}
.descriptor-label01{
    font-family: 'Source Sans pro';
    font-size: 70px;
    margin: auto;
    margin-top: 10px;
    font-weight: bolder;
}
.descriptor-label02{
    font-family: 'Source Sans pro';
    font-size: 15px;
    margin: auto;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: bolder;
}

.inputFields{
    height: 60px;
    width: 450px;
    font-size: 30px;
    border-radius: 60px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 0%;
    background: transparent;
    border: 2px solid #062671;
    text-align: center;
    font-family: 'Source Sans Pro';
    outline: none;
}
.LoginPage-anchor{
    margin: auto;
    font-size: 20px;
    font-family: 'Source Sans Pro';
    text-decoration: none;
    color: black;
}
.inputButtons{
    border-radius: 50px;
    height: 60px;
    width: 450px;
    background-color: #062671;
    color: white;
    font-size: 30px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Source Sans Pro';
}
.selections-container{
    height: auto;
    width: auto;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: auto auto auto;
    column-gap: 10px;
}

.loginPage-anchors{
    text-decoration: none;
    color: black;
}
.LoginPage-anchor:hover{color: #062671; text-decoration: underline;}

.card{
    height: 150px;
    width: 150px;
    border-radius: 12px;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
}

.card:hover{box-shadow: 2px 2px 15px #062671;}
.cardImages{
    height: 100px;
    width: 100px;
    margin: auto;
    margin-bottom: 0;
    display: flex;
}

.cardLabels{
    font-size: 18px;
    font-family: 'Source Sans Pro';
    margin: auto;
    margin-top: 0;
    text-align: center;
}